@use "../sass/variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  padding-bottom: 2rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

p {
  font-weight: 100;
}

body {
  background-image: url(/images/bg-intro-desktop.png);
  background-color: $red;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.btn-header {
}
.words,
.fillout-sheet {
  flex: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5rem;
}

.words {
  color: white;
}

.fillout-sheet {
  background-color: white;
  min-height: 40rem;
}

.form {
}

.btn-footer {
}
